/network-manager-applet-0.9.3.997.git20120319.tar.bz2
/network-manager-applet-0.9.4.0.git20120328.tar.bz2
/network-manager-applet-0.9.4.0.git20120502.tar.bz2
/network-manager-applet-0.9.4.1.git20120521.tar.bz2
/network-manager-applet-0.9.5.95.git20120713.tar.bz2
/network-manager-applet-0.9.5.96.tar.bz2
/network-manager-applet-0.9.7.0.git20120820.tar.bz2
/network-manager-applet-0.9.7.0.git20121004.tar.bz2
/network-manager-applet-0.9.7.0.git20121016.tar.bz2
/network-manager-applet-0.9.7.0.git20121211.tar.bz2
/network-manager-applet-0.9.8.0.tar.bz2
/network-manager-applet-0.9.8.1.git20130327.tar.bz2
/network-manager-applet-0.9.8.1.git20130430.tar.bz2
/network-manager-applet-0.9.9.0.git20130515.tar.bz2
/network-manager-applet-0.9.9.0.git20131028.tar.bz2
/network-manager-applet-0.9.9.0.git20140121.07a8138.tar.bz2
/network-manager-applet-0.9.9.0.git20140123.5d4f17e.tar.bz2
/network-manager-applet-0.9.9.0.git20140424.9ba9c3e.tar.bz2
/network-manager-applet-0.9.10.1.git20141201.be5a9db.tar.bz2
/network-manager-applet-1.0.0.tar.xz
/network-manager-applet-1.0.2.tar.xz
/network-manager-applet-1.0.4.git20160615.28a0e28.tar.bz2
/network-manager-applet-1.0.4.git20160702.25368df.tar.bz2
/network-manager-applet-1.0.4.tar.xz
/network-manager-applet-1.0.6.tar.xz
/network-manager-applet-1.2.0.tar.xz
/network-manager-applet-1.1.90.tar.xz
/network-manager-applet-1.1.91.tar.xz
/network-manager-applet-1.1.92.tar.xz
/network-manager-applet-1.1.93.tar.xz
/network-manager-applet-1.2.2.tar.xz
/network-manager-applet-1.2.4.tar.xz
/network-manager-applet-1.4.0.tar.xz
/network-manager-applet-1.4.4.tar.xz
/network-manager-applet-1.4.6.tar.xz
/network-manager-applet-1.7.1.tar.xz
/network-manager-applet-1.8.0.tar.xz
/network-manager-applet-1.8.2.tar.xz
/network-manager-applet-1.8.4.tar.xz
/network-manager-applet-1.8.6.tar.xz
/network-manager-applet-1.8.8.tar.xz
/network-manager-applet-1.8.10.tar.xz
/network-manager-applet-1.8.12.tar.xz
